<?xml version="1.0" encoding="windows-1252"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:ws="http://jax-ws.dev.java.net/spring/core" 
 xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
 xmlns:jee="http://www.springframework.org/schema/jee"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:webflow="http://www.springframework.org/schema/webflow-config"
  
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/jee 
 http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
 http://jax-ws.dev.java.net/spring/core  
 http://jax-ws.dev.java.net/spring/core.xsd
 http://jax-ws.dev.java.net/spring/servlet 
 http://jax-ws.dev.java.net/spring/servlet.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
 http://www.springframework.org/schema/webflow-config  
 http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd">


    <tx:annotation-driven transaction-manager="transactionManager"/>    
    <context:annotation-config/>
    
    <bean id="myUserAuthService" class="BOL.security.UserAuthService">
        <property name="userDAO" ref="userDAO"/>
    </bean>
     
    <import resource="spring-security.xml" />
            
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="mySessionFactory"/>    
    </bean>
    
    <bean id="myDataSource" 
         class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/r3" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>
   
    <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="myDataSource"/>
     <property name="hibernateProperties">
       <props>
         <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
         <!-- <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> -->
         <prop key="hibernate.show_sql">true</prop>
         <prop key="hibernate.c3p0.min_size">5</prop>
         <prop key="hibernate.c3p0.max_size">20</prop>
         <prop key="hibernate.c3p0.timeout">300</prop>
         <prop key="hibernate.c3p0.max_statements">50</prop>
         <prop key="hibernate.c3p0.idle_test_period">3000</prop>
         <prop key="hibernate.hbm2ddl.auto">create</prop>
       </props>
     </property>
     <property name="mappingLocations">
         <value>classpath*:DEL/**/*.hbm.xml</value>
     </property>  
    </bean>
    
   <bean id="adminFacade" class="WSL.AdminFacade"/>
    <wss:binding url="/AdminFacade">
        <wss:service>
            <ws:service bean="#adminFacade" />
        </wss:service>
    </wss:binding>
    
    <bean id="userFacade" class="WSL.UserFacade"/>
    <wss:binding url="/UserFacade">
        <wss:service>
            <ws:service bean="#userFacade" />
        </wss:service>
    </wss:binding>
    
    <bean id="characteristicFacade" class="WSL.CharacteristicFacade"/>
    <wss:binding url="/CharacteristicFacade">
        <wss:service>
            <ws:service bean="#characteristicFacade" />
        </wss:service>
    </wss:binding>
    
    <bean id="productFacade" class="WSL.ProductFacade"/>
    <wss:binding url="/ProductFacade">
        <wss:service>
            <ws:service bean="#productFacade" />
        </wss:service>
    </wss:binding>
    
    <bean id="recommendationAdmin" class="BSL.RecommendationAdmin"/>    
    <bean id="reviewAdmin" class="BSL.ReviewAdmin"/>
    <bean id="userAdmin" class="BSL.UserAdmin"/>
    <bean id="loginAdmin" class="BSL.LoginAdmin"/>   
    <bean id="characteristicAdmin" class="BSL.CharacteristicAdmin"/>    
    <bean id="productAdmin" class="BSL.ProductAdmin"/>
    <bean id="sessionUserDetails" class="BOLO.sessions.SessionUserDetails"/>    
    <bean id="characteristicBOL" class="BOL.Characteristic"/>    
    <bean id="authenticationBOL" class="BOL.Authentication"/>    
    <bean id="recommendationBOL" class="BOL.Recommendation"/>
    <bean id="productLogic" class="BOL.Product"/>
    <bean id="ReviewLogic" class="BOL.Review"/>     
    <bean id="tokenBOL" class="BOL.Token"/>
    <bean id="userBOL" class="BOL.User"/>
    <bean id="serviceAuthoriser" class="BOL.ServiceAuthoriser"/>
    <bean id="userSessionManager" class="BOL.UserSessionManager"/>
    <bean id="commonUtil" class="BOL.CommonUtil"/>    
    <bean id="recommendationDAO" class="DAL.RecommendationDAO"/>
    <bean id="reviewDAO" class="DAL.ReviewDAO"/>
    <bean id="characteristicReviewDAO" class="DAL.CharacteristicReviewDAO"/>    
    <bean id="productDAO" class="DAL.ProductDAO"/>
    <bean id="userDAO" class="DAL.UserDAO"/>   
    <bean id="tokenDAO" class="DAL.TokenDAO"/>    
     <bean id="characteristicDAO" class="DAL.CharacteristicDAO"/>   
       
    <bean id="r3config" class="BOLO.R3GlobalConfig">
      <property name="validateToken" value="false"/>
    </bean>
    <bean id="userSessionInfo" class="BOLO.UserSessionInfo" scope="session">
        <aop:scoped-proxy/>
    </bean>  
     
</beans>
