<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/2.3.2/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />      
    <link rel="stylesheet" href="../../themes/bootstrap/css/bootstrap-responsive.css" th:href ="@{/webjars/bootstrap/2.3.2/css/bootstrap-responsive.css}"/>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <title th:text="#{settings}">title</title>
</head>
<body>
    <div th:replace="Common/TopMenu :: TopMenu"/>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div th:replace="Common/NavMenu :: NavMenu"></div>
            </div><!--/span-->       
            <div class="span9">            
                <form method="POST" th:object="${dailyamounts}" th:action="@{/settings/dailyamounts}"> 
                    <div class="error" th:if="${#fields.hasErrors('*')}">
                        <ul>
                          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <label th:class="${#fields.hasErrors('maxCarbUnitsPerDay')}? 'error'" th:text="#{maxCarbUnitsPerDay}">Max Carb Units</label>
                    <input id="title" type="text" th:field="*{maxCarbUnitsPerDay}" /><br/>
                    <label th:class="${#fields.hasErrors('maxProteinUnitsPerDay')}? 'error'" th:text="#{maxProteinUnitsPerDay}">Max Protein Units</label>
                    <input id="title" type="text" th:field="*{maxProteinUnitsPerDay}" /><br/>
                    <label th:class="${#fields.hasErrors('maxFatUnitsPerDay')}? 'error'" th:text="#{maxFatUnitsPerDay}">max Fats Units</label>
                    <input id="title" type="text" th:field="*{maxFatUnitsPerDay}" /><br/>
                    <input class="btn btn-primary" type="submit" value="Save daily amounts"/>  
                </form> 
          </div><!--/span-->
        </div><!--/row-->
    <hr/>
    <footer th:replace="Common/page :: footer">
        <p th:text="|© #{Appname} ${#calendars.format(#dates.createToday(),'yyyy')}|">© Meal Planner 2013</p>
    </footer>
    </div><!--/.fluid-container-->
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/2.3.2/js/bootstrap.min.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function(){
                $("button").click(function(){
                    $("p").hide();
                });
            });
    /*]]>*/
    </script>
</body>

</html>