<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" Content="text/html" charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/> 
      <link rel="stylesheet" th:href="@{/webjars/bootstrap/2.3.2/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />
      <script src="anjular.min.js" th:src="@{/webjars/angularjs/1.4.7/angular.min.js}"/>
      <style>
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
      </style>
      <title th:text="#{settings}">The title will go here</title>
</head>
<body ng-app="app" ng-init="" ng-controller="macro_controller as vm">
    <nav>
        <div th:replace="Common/TopMenu :: TopMenu"/>
    </nav>
    <div class="container-fluid">
      <div class="row-fluid">
        <nav>
            <div class="span3">
              <div th:replace="Common/NavMenu :: NavMenu"></div>              
              <div ng-controller="sockjs_controller as vm" id="updates"></div>
            </div>
        </nav>       
        <div class="span9">
            <header>
                <h1>
                    Macro unit breakdown
                </h1>
                <p>Here you can specify how many carbs, proteins and fats make up their equivalent macro Unit.&nbsp;
                   It is this unit that will will be used through this site to base food quantities on. &nbsp;
                   It is also what your daily intake percentage is based upon, as all foods will count towards that daily goal.              
                </p>
            </header>
            <article>            
                    <form method="POST" th:object="${macro_amounts}" th:action="@{/settings/save}"> 
                        <div class="error" th:if="${#fields.hasErrors('*')}">
                            <ul>
                              <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <label th:class="${#fields.hasErrors('carbUnit')}? 'error'" th:text="#{carbUnit}"  id="carbUnit">Carb Units</label>
                        <!-- Explicitly inject 'carbUnit' to the controller $scope -->
                        <input id="carbUnit" type="text" th:field="*{carbUnit}" ng-model="vm.carbUnit" />
                        <br/>
                        <label th:class="${#fields.hasErrors('proteinUnit')}? 'error'" th:text="#{proteinUnit}">Protein Units</label>
                        <!-- Explicitly inject 'proteinUnit' to the controller $scope -->
                        <input id="proteinUnit" type="text" th:field="*{proteinUnit}" ng-model="vm.proteinUnit" />
                        <br/>
                        <label th:class="${#fields.hasErrors('fatUnit')}? 'error'" th:text="#{fatUnit}">Fats Units</label>
                        <!-- Explicitly inject 'proteinUnit' to the controller $scope -->
                        <input id="fatUnit" type="text" th:field="*{fatUnit}" ng-model="vm.fatUnit" />
                        <br/>
                        <input class="btn btn-primary" type="submit" value="Save settings"/>                 
                    </form> 
                    <!-- call a function defined within the controller -->
                    <button id="carbUnitlable" class="btn btn-primary" ng-click="vm.reset()">Reset</button>

            </article>
        </div><!-- span -->
      </div><!-- row-fluid -->
    <hr/>
    <footer th:replace="Common/page :: footer">
      <p th:text="|© #{Appname} ${#calendars.format(#dates.createToday(),'yyyy')}|">© Meal Planner 2013</p>
    </footer>
    </div> <!-- Fluid container -->
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/2.3.2/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"/>
    <script th:src="@{/resources/app.module.js}"/>
    <script th:src="@{/resources/macro.controller.js}"/>
    <script th:src="@{/resources/sockjs.controller.js}"/>
    <script th:src="@{/resources/macroservice.js}"/>
    
    <script th:inline="javascript">
    /*<![CDATA[*/
        // Not great - we dont want to share data between view and controller
        // by way of both of them having to read from the window object.
        window.carbUnit = [[${macro_amounts.getCarbUnit()}]];
        window.proteinUnit = [[${macro_amounts.getProteinUnit()}]];
        window.fatUnit = [[${macro_amounts.getFatUnit()}]];
    /*]]>*/
    </script>
</body>

</html>