<div class="well sidebar-nav" th:fragment="NavMenu">
    <ul class="nav nav-list">
        <li class="nav-header">Meal tasks</li>
            <li>
                <a href="/meals/add" th:href="@{/meals/add}">Add food</a>
            </li>
            <li>
                <a href="/meals/all" th:href="@{/meals/}">All foods</a>
            </li>            
            <li class="nav-header">Settings</li>
            <li>
                <a href="/settings/unitdefinitions" th:href="@{/settings/unitdefinitions}">Units</a>
            </li>
            <li>
                <a href="/settings/dailyamounts" th:href="@{/settings/dailyamounts}">Daily intake</a>
            </li>
    </ul>
</div>