<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/2.3.2/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />      
    <link rel="stylesheet" href="../../themes/bootstrap/css/bootstrap-responsive.css" th:href ="@{/webjars/bootstrap/2.3.2/css/bootstrap-responsive.css}"/>

      
      <style>
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
      </style>
      <title th:text="#{todays_meals}">Today</title>
</head>
<body>
    <div th:replace="Common/TopMenu :: TopMenu"/>
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span3">
          <div th:replace="Common/NavMenu :: NavMenu"/>
        </div><!--/span-->       
        <div class="span9">                         
            <p class="pull-right" th:text="|Date: ${#calendars.format(#dates.createToday(),'dd MMM yyyy')}|"></p>                   
            <p th:text="${todaysMeals.isEmpty()} == true ? 'No meals today yet.' : ''">These are todays meals so far</p>        
            <div th:if='${todaysMeals.isEmpty()} == false'>            
                <table class="table table-hover">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Time</th>
                      <th>Meal</th>                
                      <th>Carb Units</th>                 
                      <th>Protein Units</th>                
                      <th>Fat units</th>
                      <th></th>
                    </tr>
                </thead>
                <tr th:each="mealday,iter : ${todaysMeals}" th:with="meal = ${mealday.getMeal()}" >
                    <td th:text="${iter.count}"></td>                    
                    <td th:text="${mealday.getLocalTimeString()}"></td>                    
                    <td>
                        <span th:text="${meal.title}"></span>
                        <a href="/id" th:href="@{'/meals/'+${meal.id}}"> (details)</a>
                    </td>              
                    <td th:with="carbs = ${meal.carbs} / ${settings.carbUnit}" th:text="${#numbers.formatDecimal(carbs,1,2)}">carb units</td>
                    <td th:with="proteins = ${meal.proteins} / ${settings.proteinUnit}" th:text="${#numbers.formatDecimal(proteins,1,2)}">protein units</td>              
                    <td th:with="fats = ${meal.fats} / ${settings.fatUnit}" th:text="${#numbers.formatDecimal(fats,1,2)}">fat units</td>
                   <td>
                        <form method="POST" th:action="|@{/today/delete/}${mealday.getId()}|">                            
                            <input type="submit" class="btn btn-link"  value="remove"/>
                        </form>
                    </td>
                </tr>                
                <tr>      
                <td></td><td></td>
                <td><strong>Total Units</strong></td> 
                <td th:with="carbunits = ${#aggregates.sum(todaysMeals.![getMeal().carbs])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().carbs])} / ${settings.carbUnit} : 0" th:text="${#numbers.formatDecimal(carbunits,1,2)}">Meal carb units</td>
                <td th:with="proteinunits = ${#aggregates.sum(todaysMeals.![getMeal().proteins])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().proteins])} / ${settings.proteinUnit} : 0" th:text="${#numbers.formatDecimal(proteinunits,1,2)}">Meal protien units</td>
                <td th:with="fatunits = ${#aggregates.sum(todaysMeals.![getMeal().fats])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().fats])} / ${settings.fatUnit} : 0" th:text="${#numbers.formatDecimal(fatunits,1,2)}">meal fats units</td>                                                                                       
                <td/>
                </tr>                 
                <tr> 
                    <td></td><td></td>
                    <td><strong>Daily % reached</strong></td>                    
                    <td th:with="dailycarbs = ${#aggregates.sum(todaysMeals.![getMeal().carbs])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().carbs])} / ${settings.carbUnit} / ${dailyamounts.maxCarbUnitsPerDay} * 100: 0 " th:text="|${#numbers.formatDecimal(dailycarbs,1,2)} % |">Meal carb units</td>
                    <td th:with="dailyproteins = ${#aggregates.sum(todaysMeals.![getMeal().proteins])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().proteins])} / ${settings.proteinUnit} / ${dailyamounts.maxProteinUnitsPerDay} * 100: 0" th:text="|${#numbers.formatDecimal(dailyproteins,1,2)} % |">Meal protien units</td>
                    <td th:with="dailyfats = ${#aggregates.sum(todaysMeals.![getMeal().fats])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().fats])} / ${settings.fatUnit} / ${dailyamounts.maxFatUnitsPerDay} * 100: 0" th:text="|${#numbers.formatDecimal(dailyfats,1,2)} % |">meal fats units</td>                                                                                        
                    <td/>
                </tr>
                </table>                
            </div> <!-- if -->        
            <div th:if='${allMeals.isEmpty()} == true'>
                <a href="/meals/add" th:href="@{/meals/add}">Add a meal</a>
            </div>
        <br/>
        <div th:if='${allMeals.isEmpty()} == false'>
            <form method="POST" th:object="${meal}" th:action="@{/today/add}"> 
                <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
                    <span th:text="${e.global}? '*' : ${e.fieldName}">The field name </span>
                    <span th:text="${e.message}">The error message</span>
                </li>
                <table class='table table-hover'>  
                    <tbody>
                    <tr>
                    <td>Type in meal to add </td>
                    <td>  
                        <input type="text" id="*{title}" placeholder="type in meal title" name="title" list="mealtypes" autocomplete="off" />
                        <datalist id="mealtypes"  >
                            <option  th:each="meal : ${allMeals}" id="id" th:id="${meal.id}" th:value="${meal.title}" th:text="${meal.title}">Meal Title</option>
                        </datalist>                        
                    </td>
                    <td> 
                        <input class="btn btn-primary" type="submit" value="Add mealday"/>  
                    </td> 
                    </tr>                        
                </tbody>
                </table>    
            </form> 
        </div>
        <div id="updates">
            
        </div>      
        
        </div><!--/span-->
    </div><!--/row-->
    <hr/>
    <footer th:replace="Common/page :: footer">
        <p th:text="|© #{Appname} ${#calendars.format(#dates.createToday(),'yyyy')}|">© Meal Planner 2013</p>
    </footer>
    </div><!--/.fluid-container-->
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/2.3.2/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function(){
                $("button").click(function(){
                    $("p").hide();
                });
                
                var sock = new SockJS('/mealplanner/generic');
                sock.onopen = function() {
                    console.log('Opening'); 
                    sock.send('hello');
                }
                sock.onmessage = function(e) {
                    console.log('Received message:', e.data);  
                    var now = new Date();
                    var outStr = now.getHours()+':'+now.getMinutes()+':'+now.getSeconds();
                    $("#updates").append(outStr + e.data + '<br/>');
                    setTimeout(function(){saySomethingBack()},2000);
                }
                sock.onclose = function(){
                    console.log('Closing');
                }
                
                function saySomethingBack() {
                    console.log('Sending something back to the server');                    
                    sock.send('Something back!');
                }
                               
                
            });
    /*]]>*/
    </script>
</body>
</html>