<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-2.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
      <link rel="stylesheet" href="../../../themes/bootstrap/css/bootstrap.min.css" th:href="@{/themes/bootstrap/css/bootstrap.min.css}" media="screen"  />
      <link rel="stylesheet" href="../../../themes/bootstrap/css/bootstrap-responsive.css" th:href ="@{/themes/bootstrap/css/bootstrap-responsive.css}"/>
      
      <style>
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
      </style>
      <title th:text="#{todays_meals}">Today</title>
</head>
<body>

    <div th:replace="Common/TopMenu :: TopMenu"></div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div th:replace="Common/NavMenu :: NavMenu"></div>
        </div><!--/span-->       
        <div class="span9">
            
        <p class="pull-right" th:text="|Date: ${#calendars.format(#dates.createToday(),'dd MMM yyyy')}|"></p>        
        <p th:text="${todaysMeals.isEmpty()} == true ? 'No meals today yet.' : ''">These are todays meals so far</p>
        
        <div th:if='${todaysMeals.isEmpty()} == false'>
            <table class="table table-hover">
                <thead>
                  <tr>                     
                      <th>Meal</th>                
                     <th>Carb Units</th>                 
                     <th>Protein Units</th>                
                     <th>Fat units</th>
                     <th></th>
                  </tr>
                </thead>
                <tr th:each="mealday : ${todaysMeals}" th:with="meal = ${mealday.getMeal()}" >
                  <td>
                      <span th:text="${meal.title}"></span>
                      <a href="/id" th:href="@{'/meals/'+${meal.id}}"> (details)</a></td>              
                  <td th:text="${meal.carbs} / ${settings.carbUnit}">carb units</td>
                  <td th:text="${meal.proteins} / ${settings.proteinUnit}">protein units</td>              
                  <td th:text="${meal.fats} / ${settings.fatUnit}">fat units</td>
                   <td>
                        <form method="POST" th:action="|@{/today/delete/}${mealday.getId()}|">                            
                            <input type="submit" class="btn btn-link"  value="remove"/>
                        </form>
                    </td>
                </tr>                
                <tr style="border: black 2px double">                
                    <td><strong>Total Units</strong></td> 
                    <td th:with="carbunits = ${#aggregates.sum(todaysMeals.![getMeal().carbs])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().carbs])} / ${settings.carbUnit} : 0" th:text="${carbunits}">Meal carb units</td>
                    <td th:with="proteinunits = ${#aggregates.sum(todaysMeals.![getMeal().proteins])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().proteins])} / ${settings.proteinUnit} : 0" th:text="${proteinunits}">Meal protien units</td>
                    <td th:with="fatunits = ${#aggregates.sum(todaysMeals.![getMeal().fats])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().fats])} / ${settings.fatUnit} : 0" th:text="${fatunits}">meal fats units</td>                                                                                       
                    <td/>
                </tr>                 
                <tr style="border: black 2px double"> 
                    <td><strong>Daily % reached</strong></td>                    
                    <td th:with="dailycarbs = ${#aggregates.sum(todaysMeals.![getMeal().carbs])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().carbs])} / ${settings.carbUnit} / ${dailyamounts.maxCarbUnitsPerDay} * 100: 0 " th:text="|${#numbers.formatDecimal(dailycarbs,1,2)} % |">Meal carb units</td>
                    <td th:with="dailyproteins = ${#aggregates.sum(todaysMeals.![getMeal().proteins])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().proteins])} / ${settings.proteinUnit} / ${dailyamounts.maxProteinUnitsPerDay} * 100: 0" th:text="|${#numbers.formatDecimal(dailyproteins,1,2)} % |">Meal protien units</td>
                    <td th:with="dailyfats = ${#aggregates.sum(todaysMeals.![getMeal().fats])} != null ? ${#aggregates.sum(todaysMeals.![getMeal().fats])} / ${settings.fatUnit} / ${dailyamounts.maxFatUnitsPerDay} * 100: 0" th:text="|${#numbers.formatDecimal(dailyfats,1,2)} % |">meal fats units</td>                                                                                        
                    <td/>
                </tr>
                </table>                
        </div> 
        
        <div th:if='${allMeals.isEmpty()} == true'>
                    <a href="/meals/add" th:href="@{/meals/add}">Add a meal</a>
        </div>
        <br/>
        <div th:if='${allMeals.isEmpty()} == false'>
                <form method="POST" th:object="${meal}" th:action="@{/today/add}"> 
                    <div class="error" th:if="${#fields.hasErrors('*')}">
                        <ul>
                          <li th:each="err : ${#fields.errors('*')}"
                              th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <table class='table table-hover'>  
                        <tbody>
                        <tr>
                        <td>Select meal to add to todays meal plan: </td>
                        <td>  
                            <select th:field="*{id}">
                                <option th:each="meal : ${allMeals}" id="id" name="id" th:value="${meal.id}" th:text="${meal.title}">Meal Title</option>
                            </select>
                        </td>     
                        <td>  
                            <input class="btn btn-primary" type="submit" value="Add meal"/>  
                        </td> 
                        </tr>
                    </tbody>
                    </table>    
                </form> 
        </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr/>

      <footer>
        <p th:text="|© #{Appname} ${#calendars.format(#dates.createToday(),'yyyy')}|">© Meal Planner 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/themes/jquery.js}"/>
    <script th:src="@{/themes/bootstrap/js/bootstrap.min.js}"/>

  

</body>

</html>